/* Estilos del navbar */
nav {
  background: linear-gradient(90deg, rgba(147, 39, 226, 0.9), rgba(41, 169, 255, 0.9));
}

nav a {
  transition: all 0.3s ease;
}

.menu-mobile li {
  margin-bottom: 1rem !important;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

button {
  background: linear-gradient(to right, #ec4899, #3b82f6);
}

button.clicked {
  background: linear-gradient(to right, #9333ea, #ec4899);
}