<!--------------------- HEADER DE LA PAGINA ---------------------->
<app-navbar></app-navbar>

<!--------------------- CONTENIDO DE LA PAGINA ---------------------->
<main id="default-carousel" class="relative w-full h-screen">
  <!-- Video de fondo -->
  <div class="relative h-full w-full">
    <video autoplay muted loop class="block fixed -z-10 left-0 top-0 w-full h-full object-cover">
      <source src="assets/img/login-background.webm" type="video/webm">
    </video>

    <!-- Contenedor de la imagen y el formulario -->
    <section class="absolute inset-0 pt-28 p-10 flex items-center justify-center h-full">
      <div class="flex w-full max-w-6xl items-center justify-between h-full">

        <!-- SECCION DE LA IMAGEN -->
        <div class="hidden md:block w-1/2 h-full">
          <img src="assets/img/Recurso9.png" alt="Imagen de bienvenida"
            class="w-full h-full object-cover rounded-tl-xl rounded-bl-xl">
        </div>

        <!-- SECCION DEL FORMULARIO -->
        <div class="w-full h-4/5 md:w-1/2 md:h-full flex items-center">
          <div
            class="rounded-xl bg-white md:rounded-tl-none md:rounded-bl-none shadow-lg p-[10%] flex flex-col justify-center w-full h-full">

            <!-- Formulario de inicio de sesión -->
            <form class="space-y-4 w-full h-full flex flex-col justify-around lg:justify-evenly" action="#"
              aria-label="Formulario de inicio de sesión">
              <h1 class="text-center text-2xl font-bold text-gray-900">Inicia sesión en tu cuenta</h1>

              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Usuario:</label>
                <input type="text" name="email" id="email" aria-label="Text"
                  class="h-12 bg-gray-50 border-2 border-violet-600 text-gray-900 rounded-xl focus:outline-none focus:ring focus:ring-blue-500 w-full p-2.5"
                  placeholder="Usuario" required>
              </div>

              <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña:</label>
                <input type="password" name="password" id="password" aria-label="Contraseña"
                  class="h-12 bg-gray-50 border-2 border-violet-600 text-gray-900 rounded-xl focus:outline-none focus:ring focus:ring-blue-500 w-full p-2.5"
                  placeholder="******" required>
              </div>

              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <input id="remember" type="checkbox"
                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-500">
                  <label for="remember" class="ml-3 text-sm text-gray-500">Recuérdame</label>
                </div>
              </div>

              <button type="submit" class="w-full h-12 text-white font-bold rounded-xl p-2.5 shadow-md">Iniciar
                sesión</button>
              <p class="text-sm font-light text-gray-500">
                ¿Olvidaste la contraseña? <a href="/recuperacion"
                  class="font-medium text-blue-600 hover:underline">Recuperar</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>