<app-navbar></app-navbar>

<div class="relative w-full min-h-screen overflow-y-auto">
    <video autoplay muted loop class="absolute w-full h-full object-cover -z-10">
        <source src="assets/img/contact-bg.webm" type="video/webm">
    </video>

    <!-- Imagen centrada y ajustada -->
    <div class="flex items-center justify-center h-full absolute">
        <div class="contact-section p-8 mt-8 rounded-lg w-4/5 lg:w-3/5 text-center bg-cover bg-center">
            <h2 class="font-burbank text-xl md:text-4xl mb-4 font-bold">¡CONTACTANOS!</h2>

            <p class="font-sans text-sm md:text-xl mb-8 text-zinc-800">
                <strong>AlianzaPro</strong> es una agencia innovadora que se especializa en la creación de emocionantes
                competencias en TikTok.
                Nos dedicamos a organizar desafíos entre usuarios para que puedan competir por increíbles premios que
                van desde computadoras de
                última generación y teléfonos móviles, hasta premios en efectivo. En <strong>AlianzaPro</strong>,
                creemos en fomentar la
                creatividad y el talento de nuestros participantes, brindándoles la oportunidad de destacarse y ganar
                premios increíbles.
                ¡Únete a nosotros y vive la emoción de competir en desafíos únicos!
            </p>

            <div class="more-info flex flex-col items-center p-4 rounded-md">
                <p class="text-white mb-4 text-lg md:text-2xl font-bold">PARA MÁS INFORMACIÓN</p>

                <div class="flex items-center gap-2">
                    <a href=""><img src="assets/img/whastapp.png" alt="WhatsApp" class="w-6 md:w-8 h-auto" /></a>
                    <a href=""><img src="assets/img/tiktok.png" alt="TikTok" class="w-6 md:w-8 h-auto" /></a>
                    <a href=""><img src="assets/img/inst.png" alt="Instagram" class="w-6 md:w-8 h-auto" /></a>
                </div>
            </div>
        </div>
    </div>
</div>