 /* Estilos del formulario de login */
  
form h1 {
  color: rgba(0, 0, 0, 0.87); /* Texto más oscuro para mejor legibilidad */
}
  
.input {
   transition: border-color 0.3s;
}
  
input:focus {
  border-color: rgba(41, 169, 255, 0.8); /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px rgba(41, 169, 255, 0.5); /* Sombra al enfocar */
}
  
.button-send {
  margin-top: 2rem !important;
}

button {
  background: linear-gradient(to right, #ec4899, #3b82f6);
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #9333ea, #ec4899);
}