nav {
  background: linear-gradient(90deg, rgba(147, 39, 226, 0.9), rgba(41, 169, 255, 0.9));
}

nav a {
  transition: all 0.3s ease;
}

.menu-mobile li {
  margin-bottom: 1rem !important;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.section {
  background-color: rgba(255, 255, 255, 0.6); /* Fondo ligeramente transparente */
}

/* Títulos de las secciones */
h2 {
  background: linear-gradient(to right, #3b82f6, #9333ea);
  text-align: center;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-right-radius: 10px;
  position: relative;
  top: -20px; /* Ajuste visual */
  transform: skew(-20deg); /* Inclinación */
}

h2::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #3b82f6;
}

/* Entradas del formulario */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"],
input[type="file"] {
  transition: all 0.3s ease;
}

input:focus {
  border-color: rgba(41, 169, 255, 0.8); /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px rgba(41, 169, 255, 0.5); /* Sombra al enfocar */
}


button {
  background: linear-gradient(to right, #ec4899, #3b82f6);
  transition: background 0.3s ease;
}

button:hover {
  background: linear-gradient(to right, #9333ea, #ec4899);
}

