<app-navbar></app-navbar>

<div class="relative w-full min-h-screen overflow-y-auto">
  <video autoplay muted loop class="fixed top-0 left-0  w-full h-full object-cover -z-10">
    <source src="assets/img/login-background.webm" type="video/webm">
  </video>

  <div class="flex flex-col mt-24 mb-8 items-center h-full w-full">
    <form action="" class="w-4/5 flex flex-col flex-wrap md:flex-row md:justify-around">
      <!-- Sección de Datos de Cuenta -->
      <div class="section flex flex-col justify-center mb-10 p-5 rounded-lg md:w-[45%]">
        <h2>Datos de Cuenta</h2>

        <div class="flex flex-col items-center md:flex-row md:justify-center md:flex-wrap">
          <input type="text" placeholder="Nombre de Cuenta"
            class="w-4/5 mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="password" placeholder="Contraseña"
            class="w-4/5 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
        </div>
      </div>

      <!-- Sección de Datos del Encargado -->
      <div class="section flex flex-col mb-10 p-5 rounded-lg md:w-[45%]">
        <h2>Datos del Encargado</h2>

        <div class="flex flex-col items-center md:flex-row md:justify-around md:flex-wrap">
          <input type="email" placeholder="Tu e-mail"
            class="w-4/5 md:w-[45%] mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="text" placeholder="Nombres"
            class="w-4/5 md:w-[45%] mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="text" placeholder="Apellidos"
            class="w-4/5 md:w-[45%] mb-4 md:mb-0 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="date" placeholder="Fecha de Nacimiento"
            class="w-4/5 md:w-[45%] p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
        </div>
      </div>

      <!-- Sección de Datos de Agencia -->
      <div class="section flex flex-col justify-center mb-10 p-5 rounded-lg md:w-[95%]">
        <h2>Datos de Agencia</h2>

        <div class="flex flex-col items-center md:flex-row md:justify-evenly md:flex-wrap">
          <input type="text" placeholder="Nombre de Agencia"
            class="w-4/5 md:w-[45%] mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="file"
            class="w-4/5 md:w-[45%] mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="text" placeholder="Escribe tu emoji"
            class="w-4/5 md:w-[45%] mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="tel" placeholder="Teléfono"
            class="w-4/5 md:w-[45%] mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="text" placeholder="Color"
            class="w-4/5 md:w-[45%] md:mb-0 mb-4 p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
          <input type="text" placeholder="Escribe tu razón para unirte"
            class="w-4/5 md:w-[45%] p-2.5 h-12 text bg-white border-2 rounded-lg focus:outline-none focus:ring focus:ring-blue-500 border-violet-600" />
        </div>
      </div>

      <!-- Botón de enviar -->

      <button (click)="onSubmit()"
        class="text-center w-full h-12 button-send text-white font-bold rounded-xl p-2.5 transition-all shadow-md md:w-1/5">Enviar</button>

    </form>
  </div>
</div>
