

.custom-width {
  width: 90%;
}

/* Banner Background */
.banner-background {
  background: linear-gradient(to right, #e05578, #8b2d54);
  height: 50px;
  position: relative;
  margin-top: -4px;
  opacity: 0.8;
}


.contenedor {
  position: relative;
  display: flex;
  justify-content: space-between; /* Alinea los elementos en los extremos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  height: 36vh; /* Ajusta la altura */

}

.izquierda, .derecha {
  width: 26vw; /* Asegura que cada imagen ocupe un ancho específico */
  height: 100%; /* Ocupará el 100% de la altura del contenedor */
  background-size: contain; /* Mantiene la proporción de las imágenes */

  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.izquierda {
  background-image: url('/assets/img/Recurso6.png'); /* Imagen de la izquierda */
}

.derecha {
  background-image: url('/assets/img/Recurso7.png'); /* Imagen de la derecha */
}
