<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
  <style>
    /* Estilo adicional opcional */
    body {
      margin: 0;
      padding: 0;
      background-color: #f8fafc;
      /* Fondo claro */
    }
  </style>
</head>

<body>
 
  <nav class="bg-white dark:bg-gray-900 relative w-full z-20">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
        <!-- Logo a la izquierda -->
        <a href="#" class="space-x-3 rtl:space-x-reverse order-1 md:order-1 flex items-center">
            <img src="assets/img/logo.png" alt="Logo" class="h-8">
        </a>

        <!-- Botón de hamburguesa en dispositivos móviles -->
        <button id="menu-toggle" (click)="toggleMenu()" class="text-white md:hidden focus:outline-none focus:ring-2 focus:ring-gray-300 p-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>

        <!-- Menú de navegación que se oculta/muestra -->

    <div *ngIf="isMenuVisible" id="mobile-nav-menu" class="md:hidden">
      <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/formulario">Formulario de Aprobación</a></li>
          <li><a href="/contactanos">Contáctanos</a></li>
      </ul>
    </div>


        <!-- Menú de navegación centrado -->
        <div id="desktop-nav-menu" class="hidden md:flex flex-grow justify-center order-2">
            <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-3">
                <li>
                    <a href="/" class="text-white font-bold text-sm">INICIO</a>
                </li>
                <li>
                    <a href="/formulario" class="text-white font-bold text-sm">FORMULARIO DE APROBACIÓN</a>
                </li>
                <li>
                    <a href="/contactanos" class="text-white font-bold text-sm">CONTACTANOS</a>
                </li>
            </ul>
        </div>

        <!-- Ícono de usuario a la derecha -->
        <a href="/login" class="user-icon order-3 md:ml-4">
            <img src="assets/img/usuario2.png" alt="Ícono de usuario" class="rounded-full h-10 w-10 border-4 border-white transition-transform transform hover:scale-110">
        </a>
    </div>
</nav>


  <div id="default-carousel" class="relative w-full h-screen">
    <div class="relative h-full">
      <video autoplay muted loop class="block w-full h-full object-cover">
        <source src="assets/img/landing.webm" type="video/webm">
      </video>

      <div class="absolute inset-0 flex flex-col items-center justify-center mx-auto max-w-7xl px-6 bg-transparent">

        <!-- Fila 1 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full">

          <!-- Sección 1: Batallas Disponibles -->
          <div class="bg-white rounded-2xl p-4 shadow-lg">
            <div class="relative">
              <img src="assets/img/Recurso21.png" alt="Batallas Disponibles" class="mx-auto mb-0 mt-[-35px]">
              <p class="absolute inset-x-0 top-1/2 transform -translate-y-1/2 text-white text-sm font-bold text-center">
                BATALLAS DISPONIBLES</p>
            </div>

            <div class="flex justify-center gap-4 mt-4">
              <img src="assets/img/Recurso 5.png" alt="">
            </div>
            <div class="flex justify-center gap-4 mt-4">
              <img src="assets/img/Recurso 5.png" alt="">
            </div>
            <div class="flex justify-center gap-4 mt-4">
              <img src="assets/img/Recurso 5.png" alt="">
            </div>
            <div class="flex justify-center gap-4 mt-4">
              <img src="assets/img/Recurso 5.png" alt="">
            </div>
            <div class="flex justify-center gap-4 mt-4">
              <img src="assets/img/Recurso 5.png" alt="">
            </div>
          </div>

          <!-- Sección 2: Únete a Nosotros -->
          <div
            class="bg-gradient-to-b from-[#3877b0] to-[#122d58] rounded-2xl p-4 shadow-lg text-center col-span-1 md:col-span-1.5"
            style="background-image: url('assets/img/Recurso24.png'); background-size: cover; background-position: center;">
            <div class="relative z-10">
              <div class="relative">
                <img src="assets/img/Recurso23.png" alt="Batallas Disponibles"
                  class="mx-auto mb-0 mt-[-20px] w-[300px] h-auto">
                <p
                  class="absolute inset-x-0 top-1/2 transform -translate-y-1/2 text-white text-sm font-bold text-center">
                  AGENCIA ALIADAS APROBADAS</p>
              </div>

              <img src="assets/img/UNETE_NOSOTRO.JPG" alt=""
                class="w-[110%] max-w-[none] h-[50px] object-contain mb-2 ml-[-20px]">
              <p class="text-white text-lg font-bold mt-4 mx-auto w-[80%] text-center">
                ÚNETE A LA EMOCIÓN DE LAS BATALLAS DE TIKTOK Y GANA INCREÍBLES PREMIOS! HAZTE PARTE DE NUESTRA COMUNIDAD
                Y DEMOSTRATU TALENTO FRENTE A OTROS USUARIOS
              </p>
            </div>
          </div>

          <!-- Sección 3: Top 5 Agencias -->
          <div class="bg-gradient-to-b from-[#d53a73] to-[#7c2751] rounded-2xl p-4 shadow-lg">
            <div class="relative">
              <img src="assets/img/Recurso21.png" alt="Top 5 Agencias" class="mx-auto mb-0 mt-[-35px] w-3/4 h-auto">
              <p class="absolute inset-x-0 top-1/2 transform -translate-y-1/2 text-white text-sm font-bold text-center">
                TOP 5 AGENCIAS</p>
            </div>

            <div class="flex flex-col items-center mt-4 gap-6">
              <div class="relative w-3/4 h-auto">
                <img src="assets/img/Recurso 20.png" alt="" class="w-full h-auto">
                <div class="absolute top-2 left-24 text-black font-bold p-2 rounded">Alianza</div>
                <div class="absolute top-2 right-4 text-pink-500 font-bold p-2 rounded">39999</div>
              </div>

              <div class="relative w-3/4 h-auto">
                <img src="assets/img/Recurso 20.png" alt="" class="w-full h-auto">
                <div class="absolute top-2 left-24 text-black font-bold p-2 rounded">Alianza</div>
                <div class="absolute top-2 right-4 text-pink-500 font-bold p-2 rounded">39999</div>
              </div>

              <div class="relative w-3/4 h-auto">
                <img src="assets/img/Recurso 20.png" alt="" class="w-full h-auto">
                <div class="absolute top-2 left-24 text-black font-bold p-2 rounded">Alianza</div>
                <div class="absolute top-2 right-4 text-pink-500 font-bold p-2 rounded">39999</div>
              </div>

              <div class="relative w-3/4 h-auto">
                <img src="assets/img/Recurso 20.png" alt="" class="w-full h-auto">
                <div class="absolute top-2 left-24 text-black font-bold p-2 rounded">Alianza</div>
                <div class="absolute top-2 right-4 text-pink-500 font-bold p-2 rounded">39999</div>
              </div>

              <div class="relative w-3/4 h-auto">
                <img src="assets/img/Recurso 20.png" alt="" class="w-full h-auto">
                <div class="absolute top-2 left-24 text-black font-bold p-2 rounded">Alianza</div>
                <div class="absolute top-2 right-4 text-pink-500 font-bold p-2 rounded">39999</div>
              </div>

            </div>
          </div>
        </div>

        <!-- Fila 2 -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full mt-8">

          <!-- Sección 4: Próximas Batallas -->
          <div class="bg-gradient-to-b from-[#3877b0] to-[#122d58] rounded-2xl p-4 shadow-lg relative">
            <div class="relative">
              <img src="assets/img/Recurso21.png" alt="Batallas Disponibles" class="mx-auto mb-0 mt-[-35px]">
              <div class="absolute inset-0 flex items-center justify-center">
                <p class="text-white text-xl font-bold">PRÓXIMAS BATALLAS</p>
              </div>
            </div>
            <div class="flex flex-col items-center mt-8">
              <div class="mb-2">
                <img src="assets/img/Recurso 4.png" alt="" class="max-w-[300px] h-auto">
              </div>
              <div class="mb-2">
                <img src="assets/img/Recurso 4.png" alt="" class="max-w-[300px] h-auto">
              </div>
              <div class="mb-2">
                <img src="assets/img/Recurso 4.png" alt="" class="max-w-[300px] h-auto">
              </div>
              <div class="mb-2">
                <img src="assets/img/Recurso 4.png" alt="" class="max-w-[300px] h-auto">
              </div>


            </div>
          </div>

          <!-- Sección 5: Conexión Anticipada, Alertas, Batallas Disponibles -->
          <div class="bg-gradient-to-b from-[#3877b0] to-[#122d58] rounded-2xl p-4 shadow-lg relative">
            <div class="grid grid-cols-3 gap-2">
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 15.png" alt="Conexión" class="w-full h-56 mx-auto mb-2">
                <p class="absolute inset-0 flex items-center justify-center text-sm font-bold text-white">CONEXION
                  ANTICIPADA
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 16.png" alt="Alertas" class="w-full h-56 mx-auto mb-2">
                <p class="absolute inset-0 flex items-center justify-center text-sm font-bold text-white">ALERTA
                  BATALLAS
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 14.png" alt="Batallas Disponibles" class="w-full h-56 mx-auto mb-2">
                <p class="absolute inset-0 flex items-center justify-center text-sm font-bold text-white">BATALLAS
                  DISPONIBLES
                </p>
              </div>
            </div>

            <div class="relative">
              <img src="assets/img/Recurso91.png" alt="Beneficios"
                class="w-64 h-14 mx-auto mb-4 absolute left-1/2 transform -translate-x-1/2" style="bottom: -105px;">
              <p class="absolute inset-0 flex items-center justify-center text-sm font-bold text-white"
                style="bottom: -110px;">
                BENEFICIOS
              </p>
            </div>
          </div>





          <!-- Sección 6: Alianza Exclusivos -->
          <div class="bg-gradient-to-b from-[#3877b0] to-[#122d58] rounded-2xl p-4 shadow-lg relative">
            <div class="grid grid-cols-3 gap-2 mb-8">
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 8.png" alt="Torneos" class="mx-auto mb-2 w-full h-auto">
                <p
                  class="absolute inset-0 flex items-center justify-center text-xs md:text-sm font-bold text-white break-words p-2">
                  ALERTAS BATALLAS
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 8.png" alt="Regalos" class="mx-auto mb-2 w-full h-auto">
                <p
                  class="absolute inset-0 flex items-center justify-center text-xs md:text-sm font-bold text-white break-words p-2">
                  CHAT DE VOZ
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 8.png" alt="Torneos" class="mx-auto mb-2 w-full h-auto">
                <p
                  class="absolute inset-0 flex items-center justify-center text-xs md:text-sm font-bold text-white break-words p-2 whitespace-normal">
                  ACCESO A TORNEOS
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 8.png" alt="Juegos" class="mx-auto mb-2 w-full h-auto mb-2"
                  style="margin-bottom: 10px;">
                <p
                  class="absolute inset-0 flex items-center justify-center text-xs md:text-sm font-bold text-white break-words p-2">
                  JUEGOS INTERACTIVOS
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 8.png" alt="Eventos" class="mx-auto mb-2 w-full h-auto mb-2"
                  style="margin-bottom: 10px;">
                <p
                  class="absolute inset-0 flex items-center justify-center text-xs md:text-sm font-bold text-white break-words p-2">
                  EVENTOS PAGOS Y NO PAGOS
                </p>
              </div>
              <div class="relative p-2 rounded-lg text-center">
                <img src="assets/img/Recurso 8.png" alt="Regalos" class="mx-auto mb-2 w-full h-auto mb-2"
                  style="margin-bottom: 10px;">
                <p
                  class="absolute inset-0 flex items-center justify-center text-xs md:text-sm font-bold text-white break-words p-2">
                  REGALOS
                </p>
              </div>
            </div>

            <div class="relative">
              <img src="assets/img/Recurso91.png" alt="Alianza Exclusivos"
                class="w-64 h-14 mx-auto absolute left-1/2 transform -translate-x-1/2" style="bottom: -35px;">
              <p class="absolute inset-0 flex items-center justify-center text-sm font-bold text-white"
                style="bottom: -20px;">
                ALIANZA EXCLUSIVOS
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="bg-white dark:bg-gray-900 p-4 text-center">
    <p class="text-gray-500">©Todos los derechos reservados.</p>
  </footer>
</body>

</html>