<nav>
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
      
      <!-- Título a la izquierda -->
      <div class="flex items-center order-1 md:order-1">
        <h1 class="welcome-title">BIENVENIDO USUARIO</h1>
      </div>
  
      <!-- Logo centrado -->
      <a routerLink="/" class="space-x-3 rtl:space-x-reverse order-2 flex items-center justify-center flex-grow">
        <img src="assets/img/logo.png" alt="Logo" class="h-8">
      </a>
  
      <!-- Ícono de usuario a la derecha -->
      <a routerLink="/login" class="user-icon order-3 md:ml-4">
        <img src="assets/img/usuario2.png" alt="Ícono de usuario" class="rounded-full h-10 w-10 border-4 border-white transition-transform transform hover:scale-110">
      </a>
    </div>
  </nav>
  
  <!-- Menú de navegación secundario -->
  <div class="navega">
    <ul class="flex justify-center space-x-4">
      <li><a href="/cuentas" class="nav-link">CUENTAS</a></li>
      <li><a href="/solicitud" class="nav-link">SOLICITUDES</a></li>
      <li><a href="/batallas" class="nav-link">BATALLAS DISPONIBLES</a></li>
      <li><a href="/batallas-mayo" class="nav-link">BATALLAS DE MAYO</a></li>
      <li><a href="/batallas-fuertes" class="nav-link">BATALLAS FUERTES</a></li>
      <li><a href="/batallas-relampagos" class="nav-link">BATALLAS RELÁMPAGOS</a></li>
      <li><a href="/batallas-x4" class="nav-link">BATALLAS X4</a></li>
      <li><a href="/batallas-internacionales" class="nav-link">BATALLAS INTERNACIONALES</a></li>
    </ul>
  </div>
  
  
  
  
  
  
  
  
  
  <div class="container">
      <h2>Solicitudes de Aprobación</h2>
      
      <div class="section">
          <h3>Nuevas Solicitudes</h3>
          <div class="requests-list">
              <div *ngFor="let request of requests" class="request-item">
                  <div class="request-details">
                      <p><strong>Nombre Encargado:</strong> {{ request.nameE }}</p>
                      <p><strong>Apellido:</strong> {{ request.apell }}</p>
                      <p><strong>Email:</strong> {{ request.email }}</p>
                      <p><strong>Nombre Agencia:</strong> {{ request.nameA }}</p>
                      <p><strong>Emoji:</strong> {{ request.emoji }}</p>
                      <p><strong>Color:</strong> {{ request.color }}</p>
                  </div>
                  <div class="actions">
                      <button (click)="approveRequest(request)">Aprobar</button>
                      <button (click)="rejectRequest(request)">Rechazar</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  